*{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  background-color: azure;
  place-items: center;
  min-height: 100vh;
}